<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" type="text/css"/>
  <title>Permalist</title>
  <style>
    html { 
      background-image: -webkit-linear-gradient(65deg, <%=category.color%> 50%, #e4e9fd 50%);
   }
  </style>
</head>

<body>
  <main>
 